@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add Licensed Engineer</h2>
<hr />

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <h3>@Html.Label("Select Engineer")</h3>
  <div class="notes">
    @Html.DropDownList("EngineerId")
  </div>
  <input type="submit" value="Add Engineer" class="btn btn-dark" />
}
<hr />
<div class="navigation-links">
  @Html.ActionLink("Cancel", "Details", new { id = Model.MachineId})
</div>