@{
  Layout = "_Layout";
}
<h2>Delete Machine Record</h2>
<hr />
<p>Are you sure you want to delete the @Model.Name machine's records?</p>

@using(Html.BeginForm())
{
  <input type="submit" value="Delete Record" class="btn btn-dark"/>
}

@Html.ActionLink("Cancel", "Details", new { id = Model.MachineId })