@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add Machine License to Engineer</h2>
<hr />

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <h3>@Html.Label("Select License")</h3>
  <div class="notes">
    @Html.DropDownList("MachineId")</div>
  <input type="submit" value="Add License" class="btn btn-dark" />
}
<hr />
<div class="navigation-links">@Html.ActionLink("Cancel", "Details", new { id = Model.EngineerId })</div>