@{
  Layout = "_Layout";
}

@using Factory.Models

<h2>Welcome!</h2>

<div class="container">
  <div class="row">

    <div class="col-6">
      @Html.ActionLink("Go to Engineers Hub", "Index", "Engineers")
      <h3>Current Engineers:</h3>
      @if(Model.Engineers.Count == 0)
      {
        <p>There are currently no Engineers on staff.</p>
      }
      else
      {
        @foreach(Engineer engineer in Model.Engineers)
        {
          <li>@Html.ActionLink($"{engineer.FirstName} {engineer.LastName}", "Details", "Engineers", new { id = engineer.EngineerId })</li>
        }
      }
    </div>

    <div class="col-6">
      @Html.ActionLink("Go to Machines Hub", "Index", "Machines")
      <h3>Current Machines:</h3>
      @if(Model.Engineers.Count == 0)
      {
        <p>There are currently no Machines installed.</p>
      }
      else
      {
        @foreach(Machine machine in  Model.Machines)
        {
          <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</li>
        }
      }
    </div>
  </div>
</div>