@{
  Layout = "_Layout";
}

@using Factory.Models

<h2>Welcome!</h2>

<div class="container">
  <div class="row">

    <div class="col-6">
      <h3>Engineers:</h3>
      
    </div>

    <div class="col-6">
      <h3>Machines:</h3>
      <p>Some text here!</p>
    </div>

  </div>
</div>